
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }


<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1><b>Ömür Boyu Ücretsiz E-Fatura Programı Kullanın Rahat Edin!</b> </h1>
        <h2>Tüm Ön Muhasebe İşlerinizi Sadeleştirin, Kolaylaştırın ve Hızlandırın.</h2>
        <a href="~/setup/sanalfatura.msi" title="e fatura" class="btn-get-started scrollto">ŞİMDİ İNDİR</a>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                    <div class="video-title" style="border-radius: 15px;">
                        <video src="~/Content/img/f-HD720p.mov" width="100%" height="100%" controls autoplay playsinline muted style="pointer-events:auto;border-radius: 15px;" loop></video>
                    </div>

                </div>

                <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">

                    <div class="content d-flex flex-column justify-content-center">

                        <div class="row">
                            <div class="icon-box">
                                <i class="bx bx-alarm"> </i>
                                <h4>Zamandan ve Maliyetten Tasarruf Edin</h4>

                            </div>
                            <div class="icon-box">
                                <i class="bx bx-archive-in"></i>
                                <h4>Hızlı Kurulumla Keyfini Çıkarın</h4>

                            </div>
                            <div class="icon-box">
                                <i class="bx bx-envelope-open"></i>
                                <h4>E-Mail ve SMS ile Anında Fatura Gönderin</h4>

                            </div>
                            <div class="icon-box">
                                <i class="bx bx-lock"></i>
                                <h4>Bilgileriniz Güvende Kalsın</h4>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
        <div class="container" data-aos="fade-up">


            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-3" id="" style="margin:auto">
                    <ul class="nav nav-tabs flex-column ">
                        <li class="nav-item mt-3">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1" title="e fatura gecis">E-FATURA GEÇİŞ ZORUNLULUĞU</a>
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2" title="e fatura avantaj">E-FATURA AVANTAJLARI</a>
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3" title="e fatura veri depolama">GÜVENLİ VERİ DEPOLAMA</a>
                        </li>
                        <li class="nav-item mt-3">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4" title="e fatura teknik destek">TEKNİK DESTEK</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details mt-5 order-2 order-lg-1">

                                    <p class="font-italic">
                                        Gelir İdaresi Başkanlığı tarafından yönetilen e-fatura uygulamasında amaç tek format ve standarda göre satıcı ve alıcı arasında güvenli, zaman ve maliyet tasarrufu sağlayan bir sistem oluşturmaktır.<br><br>

                                        Bu nedenle Maliye Bakanlığı Gelir İdaresi Başkanlığı (GİB) tarafından, Vergi Usul Kanunu (VUK) Genel Tebliğleri ile E-fatura uygulamasına ait usul ve esas, standart ve düzenlemeler yapmıştır.

                                        E-fatura ile ilgili tebliğ ve diğer dokümanları aşağıda bulunan alandan inceleyebilirsiniz.
                                    </p>
                                    <ul>
                                        <li><i class="ri-check-double-line"></i> e-Faturayı İşin Profesyoneline Bırakın, Siz Keyfinize Bakın</li>
                                        <li><i class="ri-check-double-line"></i> Ücretsiz e-Faturaya Geçiş Uygulamamızla e-Faturaya Geçiş Yapın, Faturalarınızı Hızlı ve Kolayca Anında Gönderin.</li>

                                    </ul>


                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/Content/img/1.gif" alt="e fatura mevzuat,gelir idaresi" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details mt-5 order-2 order-lg-1">
                                    <ul>
                                        <li><i class="ri-check-double-line"></i> Maliyetleriniz azalır. (Kağıt, mürekkep, zarf, postalama, arşivleme ve mutabakat vb.)</li>
                                        <li><i class="ri-check-double-line"></i> Faturalarınızı daha hızlı hazırlarsınız. Zamandan tasarruf etmiş olursunuz.</li>
                                        <li><i class="ri-check-double-line"></i> Faturalarınızın kaybolma riski olmaz.</li>
                                        <li><i class="ri-check-double-line"></i> Maliyetleriniz azalır. (Kağıt, mürekkep, zarf, postalama, arşivleme ve mutabakat vb.)</li>
                                        <li><i class="ri-check-double-line"></i> Faturalarınızı daha hızlı hazırlarsınız. Zamandan tasarruf etmiş olursunuz.</li>
                                        <li><i class="ri-check-double-line"></i> Faturalarınızın kaybolma riski olmaz.</li>
                                        <li><i class="ri-check-double-line"></i> Maliyetleriniz azalır. (Kağıt, mürekkep, zarf, postalama, arşivleme ve mutabakat vb.)</li>
                                        <li><i class="ri-check-double-line"></i> Faturalarınızı daha hızlı hazırlarsınız. Zamandan tasarruf etmiş olursunuz.</li>
                                        <li><i class="ri-check-double-line"></i> Faturalarınızın kaybolma riski olmaz.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/Content/img/avantaj.gif" alt="e fatura, e arşiv, e fatura avantaj" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>E-Fatura programımız ile verileriniz güvende!</h3>
                                    <ul>
                                        <li><i class="ri-check-double-line"></i> Sahip olduğumuz veriler kıymetlidir ve bu veriler her geçen gün büyüme gösterir.</li>
                                        <li><i class="ri-check-double-line"></i> Sahip olduğunuz Veri hacminin artması, veri depolama ve yönetim maliyetlerinin de artması anlamına gelmemektedir.</li>
                                        <li><i class="ri-check-double-line"></i> Veri depolama çözümleri ve veri depolama birimleri sahip olduğunuz kıymetli verileri ilk andan itibaren güvenli, veri türünün sahip olduğu kodlama türüne uyumlu, hızlı ve esnek depolama çözümleri sunmalıdır.</li>
                                        <li><i class="ri-check-double-line"></i> Ayrıca, anlık büyüme gösteren, geçici süre ihtiyaç duyulan veriler bulut veri depolama ve bulut yedekleme çözümleri ile hizmet sunmaktayız.</li>

                                    </ul>

                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/Content/img/data.gif" alt="e fatura veri, e arşiv" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>7/24 Teknik Destek</h3>
                                    <p>
                                        <b>  Destek için iletişim hattımız:</b>
                                    <p>+90 0212 912 24 26 </p>

                                    </p>

                                    <ul>
                                        <li><i class="ri-check-double-line"></i> Sistem hakkında her türlü bilgi, istek ve önerilerinizi form ile bize gönderebilirsiniz. Operatörlerimiz en kısa zamanda sizinle iletişime geçecektir.</li>
                                        <li><i class="ri-check-double-line"></i> Yazılım Desteği Almak istiyorsanız</li>
                                        <li><i class="ri-check-double-line"></i> E-Faturan destek ve bağlantı sistemi, yazılım ürünleri ile ilgili ön destek almanızı sağlayan bir takip sistemdir.</li>
                                        <li><i class="ri-check-double-line"></i> Sistemden alacağınız Destek Numarası ile müşteri hizmetlerimizi arayarak destek talebinde bulanabilirsiniz.</li>
                                        <li><i class="ri-check-double-line"></i> Destek ve Bağlantı sisteminden faydalanabilmek için kredi kartı ile 150 TL ödemeniz gerekir.</li>

                                    </ul>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/Content/img/Support.gif" alt="teknik destek, e fatura destek" class="img-fluid">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Specials Section -->





    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>Özellikler</h2>
                <h3>E-Fatura <span>Özellikleri</span></h3>

            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200" style="width:700px">
                        <div class="icon"><i class="bx bx-barcode-reader"></i></div>
                        <h4><a href="" title="e fatura stok">Stok Takibi Modulü</a></h4>

                        <p style="text-align:left"> <span>&#10004;</span> Sınırsız Stok kartı Tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Barkodsuz ürünler için otomatik barkod tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Gramajlı ürünleriçin otomatik barkod tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Stok grubu ve birimi tanımlama</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-user"></i></div>

                        <h4><a href="" title="e fatura cari kart">Cari Kart Modülü</a></h4>
                        <p style="text-align:left"> <span>&#10004;</span> Sınırsız Cari Hesap kartı ve grup tanımlama</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cariye Stoklu-Stoksuz Satış</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cariye kasa'dan ödeme ve tahsilat yapabilme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cariyi borçlandırma ve alacaklandırma işlemleri</p>
                        <p style="text-align:left"> <span>&#10004;</span> Tahsilat ve ödeme makbuzu kesme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Cari hesap ekstresi,Toplu Cari raporu ve cari işlem raporu alabilme</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-bar-chart"></i></div>
                        <h4><a href="" title="e fatura raporlama">Raporlama Sistemi</a></h4>
                        <p style="text-align:left"> <span>&#10004;</span> Cari kartlara ait Hesap ekstresi, Toplu cari raporu v.b.</p>
                        <p style="text-align:left"> <span>&#10004;</span> Stok, Depo Hareketleri,Stok listeleri raporu v.b.</p>
                        <p style="text-align:left"> <span>&#10004;</span> Satış,Kar-Zarar Analizi ve Gün Sonu raporu ve satış grafiği</p>
                        <p style="text-align:left"> <span>&#10004;</span> Toplu stok raporu ve stok hareketleri, Toplu Cari raporu ve cari işlem  raporunu alabilme </p>
                        <p style="text-align:left"> <span>&#10004;</span> Depo hareketleri raporunu alabilme</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in">
                        <div class="icon"><i class="bx bx-box"></i></div>
                        <h4><a href="" title="e fatura arsivleme">Arşivleme</a></h4>
                        <p style="text-align:left"> <span>&#10004;</span> Minimum 10 yıl boyunca güvenli bir şekilde arşivleyebilirsiniz.</p>
                        <p style="text-align:left"> <span>&#10004;</span> Gramajlı ürünleriçin otomatik barkod tanımlama</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in">

                        <div class="icon"><i class="bx bx-receipt"></i></div>
                        <h4><a href="" title="e fatura modül">Fatura Modülü</a></h4>
                        <p style="text-align:left"> <span>&#10004;</span> Alış, Satış ve İade faturası düzenleme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Standart ve gramajlı ürün barkod desteği</p>
                        <p style="text-align:left"> <span>&#10004;</span> İrsaliyeyi fatura dönüştürme</p>
                        <p style="text-align:left"> <span>&#10004;</span> Fatura makbuz basımı </p>
                        <p style="text-align:left"> <span>&#10004;</span> Detaylı alış, satış ve iade faturası raporlama gönderme </p>
                        <p style="text-align:left"> <span>&#10004;</span> Faturaları rahatça gönderim kolaylığı </p>
                        <p style="text-align:left"></p>
                        <p style="text-align:left"></p>
                        <p style="text-align:left"></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-paper-plane"></i></div>

                        <h4><a href="" title="e fatura gonderme"> Gönderme & Taslak Hazırlama</a></h4>
                        <p style="text-align:left"> <span>&#10004;</span> Fatura işlemlerinizi mail alma ve gönderme kolaylığında gerçekleştirebilirsiniz.</p>
                        <p style="text-align:left"> <span>&#10004;</span> Tıpkı mail'lerde olduğu gibi taslak olarak hazırlayabilirsiniz.</p>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- ======= F.A.Q Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Şimdi Ücretsiz İndir</h3>
                <p> E-Fatura ücretsiz programı herhangi bir kısıtlama olmaksızın ömür boyu kullanabileceğiniz bir bedava elektronik faturalama programıdır.</p>

                <a class="cta-btn" href="~/setup/sanalfatura.msi" title="e fatura indir">ÜCRETSİZ İNDİR</a>
            </div>
        </div>
    </section>

    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>S.S.S</h2>
                <h3>Sıkça Sorulan  <span>Sorular</span></h3>

            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1" title="e fatura dijital">E-Fatura nedir ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Dijital ortamda hazırlanan faturalara Elektronik Fatura (E-Fatura) denir. Kâğıda basılmayan ve internet üzerinden alıcı ve satıcıya iletilen e-fatura, ileride tüm firmalar için zorunlu hale getirilecektir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed" title="e fatura nicin kullanilmali">E-Fatura’yı niçin kullanmalıyım ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                E-fatura kullanımında girilen faturalar anında dijital ortama kayıt edildiğinden müşteriler ve satıcılarla mutabakat yapmanız kolaylaşır. Fatura saklama iş yükü ve maliyetinden kurtulursunuz. Sanal Fatura aracılığıyla güvenli bir şekilde fatura gönderip alarak fatura bilgilerine sistem sorgusuyla anında erişerek faturaya ilişkin bilgilerin anında kontrolünü sağlayabilirsiniz.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed" title="e fatura zorunluluk">Zorunluluk kapsamında değilim.Yine de e-fatura uygulamasına kendi isteğim ile dahil olabilir miyim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Evet. İsteğe bağlı olarak e-fatura uygulamasına dahil olmak mümkündür.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed" title="e fatura gib mali muhur">E-fatura uygulamasına nasıl dahil olabilirim ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                GİB’e e-fatura başvurunuzu yapıp, mali mührünüzü almanız gerekir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" title="e fatura cikti">E-faturanın çıktısını alıp yazdırmam gerekiyor mu ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Hayır böyle bir zorunluluk yoktur. Müşterilerinize faturanızı elektronik ortamda iletirsiniz. Süreç tamamen dijital ortamda gerçekleşir.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" title="e fatura uygulaması">E-fatura uygulamasına geçtikten sonra kâğıt fatura düzenleyemez miyim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                E-fatura uygulamasına geçtikten sonra sisteme dahil olan firmalara e-fatura, dahil olmayan firmalara ise kağıt fatura göndermeniz gerekmektedir. Bu nedenle fatura alıcısının sisteme dahil olup olmadığının kontrolü fatura oluşturulmadan önce mükellef tarafından yapılmalıdır.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" title="e fatura müsteri">Müşterilerimin e-fatura kullanıcısı olduklarını nasıl bilirim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Programın satış ekranında müşterinin vergi numarası yazıldığında, fatura alıcısının sisteme dahil olup olmadığını otomatik olarak kontrol etmektedir.
                                Bir diğer kontrol edebileceğini yer ise E-Fatura resmi sitesinde yer alan liste düzenli olarak güncellenmektedir. Listeyi buradan (http://www.efatura.gov.tr/efaturakayitlikullanicilar.html) kontrol edebilirsiniz.

                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" title="e fatura arsiv">E-Faturayı nasıl arşivleyeceğim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                E-Faturaların çıktısının alınıp saklanması gibi bir yasal zorunluluğunuz bulunmamaktadır. Faturalar tamamen elektronik ortamda arşivlenir. Yine de dileyen kullanıcılar çıktılarını saklayabilir.
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" title="e fatura sistemi">E-Fatura sistemi ile irsaliye hazırlayabilir miyim? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Evet. Bunu yapabilmek için e-faturanın malın teslim edileceği tarihte düzenlenmiş olması gerekir. Gönderdiğiniz e-faturada düzenleme tarihi yanında düzenleme zamanının saat olarak gösterilmesi halinde e-faturanın kâğıt dökümü irsaliye yerine geçer. Fakat bu çıktıya “İrsaliye yerine geçer” ifadesinin yazılması ve kâğıdın kaşelenip imzalanması da gerekir.

                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed" title="e fatura temel ticari">Temel ya da Ticari Fatura Senaryosu Nedir? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                E-fatura sistemine geçtikten sonra, e-fatura ile çalışacağınız müşteri ya da tedarikçilerle temel ya da ticari fatura senaryolarından birini seçmeniz gerekiyor. Ticari Fatura Senaryosu’nda müşterinizin 7 gün içinde kabul ya da ret vermesi gerekir. Eğer vermezse faturayı kabul etmiş sayılır. Temel faturada bu şekilde bir onay süreci bulunmamaktadır.
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="zoom-in">
                <h2>İletişim</h2>
                <h3>Size <span>Ulaşalım</span> </h3>
                <p>Sorularınızı cevaplayalım.</p>
            </div>
            <div>
                <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.6607539622664!2d31.170095215410804!3d40.90125597931179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d7558c6d29949%3A0x332d4e256b968190!2sBilsoft!5e0!3m2!1str!2str!4v1621845589546!5m2!1str!2str" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4" data-aos="fade-right">
                    <div class="info">


                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Adres:</h4>
                            <p>
                                Düzce Üniversitesi Teknopark Orhangazi Mah. Teknopark Cad. No:1 Kat:2 Merkez/Düzce

                            </p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>bilgi@sanalfatura.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Telefon:</h4>
                            <p>0850 611 06 62 </p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="Ad" class="form-control" id="Ad" placeholder="Ad" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="Mail" id="Mail" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="Konu" id="Konu" placeholder="Konu" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="Mesaj" id="Mesaj" placeholder="Mesaj" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="button" class="btn btn-success">Mesaj Gönder</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->